.contenedor {
    display: grid;
    grid-template-areas:
        'A A A A'
        'B B B B'
        'C D D D'
        'E E E E';
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;   
}

header {
    grid-area: A;
    background-color: #FEFF86;
    text-align: center;
}

nav {
    grid-area: B;
    background-color: #E21818;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
}

aside {
    grid-area: C;
    background-color: #FFDD83;
    text-transform: uppercase;
    font-size: 18px;
}

main {
    grid-area: D;
    background-color: #98DFD6;
    font-size: 16px;
}

footer {
    grid-area: E;
    background-color: #FFB4B4;
    font-size: 16px;
}